/* Selector Universal "*"  */
/* *{
    margin: 0;
    padding: 0;
} */

/* body{
    background-color: gray;
} */

/* Selector por elemento */
h1{
    font-size: 48px;
    background-color: blue;
    color: white;
}

h2{
    font-size: 36px;
    color: red;
}

/* Selector por ID - Se usa "#"  */
h2#subtitulo-encabezado{
    color: orange;
}

/* Selector por clase - Se usa "."  */
h2.subtitulo-encabezado{
    color: orange;
}
.borde-gris{
    border: 2px solid black;
}

/* Selector múltiple */
h1, p{
    background-color: blueviolet;
    color: yellowgreen;
}

/* Selector de descendencia child - nested  */
ul li{
    list-style: square;
    padding: 10px;
    font-size: 24px;
}

/* Selector de hijos directos */
ol>li{
    list-style: square;
    padding: 10px;
    font-size: 24px;
    border: 2px solid blue;
}