a{
    font-size: 24px;
    color: green;
    text-decoration: none;
}

a:hover{
    color: red;
    font-size: 32px;
    text-decoration: underline;
}

a:active{
    color: black;
    text-decoration: dotted;
}

.caja1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.caja1:hover{
    background-color: brown;
}

li:nth-child(odd){
    background-color: green;
    color: white;
}
li:nth-child(even){
    background-color: greenyellow;
    color: brown;
}

Pseudoelementos Before y after
p::before{
    content: "→";
}

p::after{
    content: "💗";
}

/* ::first-line y ::first-letter */
p::first-letter{
    font-size: 32px;
}

/* Selector por atributo */
input[type="text"]{
    border: 3px solid blue;
}