/* p{
    font-size: 36px;
    color: blue;
} */

#elemento1{
    color: blue;
}

.caja-elemento-1{
    color: red !important;
}

p{
    color: brown;
    font-size: 22px;
}

p{
    color: green;
    font-size: 36px;
}

p{
    color: yellow;
    font-size: 16px;
    border: 1px solid grey;
    background-color: black;
}